$color-primary: #90D0CE;
$color-pink: #E3BCD7;
$color-black: #151515;
$color-gray-800: #1F1F1F;
$color-gray-500: #515151;
$color-white: #FFF;

$font-xs: 12px;
$line-height-xs: 16px;

$font-sm: 14px;
$line-height-sm: 18px;

$font-md: 16px;
$line-height-md: 21px;

$font-lg: 18px;
$line-height-lg: 32px;

$font-xl: 21px;
$line-height-xl: 25px;

$font-2xl: 33px;
$line-height-2xl: 43px;

$font-4xl: 76px;
$line-height-4xl: 95px;

$font-5xl: 89px;
$line-height-5xl: 108px;